.labelBox{
    color: hsl(190, 100%, 95%);
    display: flex;
    width: fit-content;
    height: fit-content;
    margin: 2px;
}


.labelBoxLeft{
    display: flex;
    flex-direction: column;
}
.labelBoxTopLeft{
    width: 16px;
    flex: 1;
    background-color: hsl(206, 61%, 31%);
    border-top: 3px double hsl(206, 61%, 80%);
    border-radius: 6% 0 0 0;
}
.labelBoxBottomLeft{
    flex: 1;
    width: 16px;
    transform: skew(35deg) translateX(0.32em) translateY(-0.013em);
    background-color: hsl(206, 61%, 80%);
}


.labelText{
    background-color: hsl(206, 61%, 31%);
    border-top: 3px double hsl(206, 61%, 80%);
    border-bottom: 3px double hsl(206, 61%, 80%);
    min-width: 190px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 1rem;
    flex: 1;
}


.labelBoxRight{
    display: flex;
    flex-direction: column;
}
.labelBoxTopRight{
    flex: 1;
    width: 16px;
    transform: skew(35deg) translate(-4px);
    background-color: hsl(206, 61%, 80%);
}
.labelBoxBottomRight{
    width: 16px;
    flex: 1;
    background-color: hsl(206, 61%, 31%);
    border-radius: 0 0 6% 0;
    border-bottom: 3px double hsl(206, 61%, 80%);
}