.characterSheetMainDiv{
    font-size: 0.8rem;
}

.characterInfoDescriptionBlock{
    display: flex;
}
.characterInfoDescriptionBlock input{
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
}