.SHRValuesDiv {
  display: flex;
  border: 2px solid black;
  width: 100%;
  border-radius: 4px;
  margin: -4px 0 0 10px;
  padding: 0 10px 0 10px;
  justify-content: space-evenly;
}

.inputDiv {
  display: flex;
}

.TotalCurrentDiv {
  margin-top: 38px;
  margin-right: -30px;
  display: grid;
  text-align: right;
}

.labelValueColumn {
  margin: 4px;
  text-align: center;
}
.labelValueColumn input {
  margin: auto;
  margin-top: 4px;
  width: 50%;
}
