.commentContainer{
    display: flex;
    flex-direction: column;
    padding: 3px;
}

.commentContainer textarea{
    resize: vertical;
}

/* Turns Left area */

.turnsLeftContainer label{
    font-weight: bold;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.expireCounter{
    max-width: 33px;
}

/* Buttons */

.expiredButton{
    border-radius: 1.5em;
    font-weight: bold;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
    padding: 5px;
    color: white;
    transition: background-color 0.2s ease;
    background-color: hsl(10, 90%, 50%);
}
.expiredButton:hover{
    background-color: hsl(10, 90%, 45%);
}

.removeButton{
    border-radius: 1.5em;
    font-weight: bold;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
    padding: 5px;
    color: white;
    transition: background-color 0.2s ease;
    background-color: hsl(205, 90%, 60%);
}
.removeButton:hover{
background-color: hsl(205, 90%, 50%);
}